.container{
    display: grid;
    grid-template-columns: 20% 50% 30% ;
    grid-template-rows: 100px;
    column-gap:20px;
}

.item{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
}