.box{
 width: 10%;  
 background:blue;
 color: white;
 padding: 40px;
 margin: 0;
 border: 2px solid black;
}
.box1{
 width: 10%;  
 background:rgb(5, 5, 20);
 color: white;
 padding: 40px;
 margin: 0;
 border: 2px solid black;
}